body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow-y: hidden;
    background:  #00b4db;
    display: flex;
   
    justify-content: center;
  }
  .heading {
    padding:.5em;
    text-align: center;

  }

  .form {
    width: 45%;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
   
  }

  input[type=text], input[type=text] {
    width: 100%;
    padding: 20px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
  }

  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }