body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow-y: hidden;
    background:  #00b4db;
    
  }
  .heading {
    padding:.5em;
    text-align: center;

  }

  h1, h2 {
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .column {
    flex-basis: 50%;
    padding: 1rem;
  }

  a {
    display: block;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #3e8e41;
  }