body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow-y: hidden;
    background:  #00b4db;
    display: flex;
   
    justify-content: center;
  }
  .heading {
    padding:.5em;
    text-align: center;
  }


  .container {
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
 
  select {
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
  }
  
 
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }