body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow-y: hidden;
    background:  #00b4db;
    display: flex;
   
    justify-content: center;
  }
  .heading {
    padding:.5em;
    text-align: center;
  }


  div {
    margin: 20px;
  }
  
  a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    font-size: 200%;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  
  
  
  