body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow-y: hidden;
    
  }
  
 
  .table-body {
    border-collapse: collapse;
    width: 100%;
  }
  
  .thead {
    background-color: #ccc;
  }
  
  .tbody td,
  .tbody th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  
  #id,
  #name,
  #email,
  #password,
  #address,
  #phone,
  #feedback,
  #hotel_id,
  #booking_id {
    font-weight: bold;
    text-align: center;
  }
  
 
  #row_id,
  #row_name,
  #row_email,
  #row_password,
  #row_address,
  #row_phone,
  #row_hotel_id,
  #row_booking_id {
    text-align: center;
  }
  
  #row_feedback {
    text-align: center;
    font-weight: bold;
  }
  
  #row_feedback a {
    color: blue;
    text-decoration: underline;
  }
  
  #row_feedback a:hover {
    color: darkblue;
  }